<a href="https://colab.research.google.com/github/FlaviusT/RecommenderSystem/blob/master/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# IMPORTS

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

# INITIALIZE DATA

In [18]:
# Import movies
movies = pd.read_csv('/content/datasets/movies.csv')

# Import ratings
ratings = pd.read_csv('/content/datasets/ratings.csv')

# Import users
users = pd.read_csv('/content/datasets/users.csv')

# Input data processing

In [21]:
# As the genre of the movies are splitted by '|' sign, 
# here we will split them into different collumns

# Get all genres from the CSV file
def split_genres_from_Movie(movies):
  genres = movies.genres
  genres_list = list()

  for genre in genres:
    genres_list.append(genre.split('|'))

  genres_dataframe = pd.DataFrame(genres_list)

  # Remove duplicate genres to obtain all unique genres from the CSV file
  unique_genres = genres_dataframe[0].unique()

  # For each movie add all genres and value 0(the movie does not belong to that genre) 
  # or 1(where the genre is listed in the movie's genre list)
  for unique_genre in unique_genres:
      movies[unique_genre] = 0
      movies.loc[movies['genres'].str.contains(unique_genre), unique_genre] = 1

  # Now, there is no need for the 'genres' column anymore
  movies = movies.drop(['genres'],axis =1)
  
  return movies

if('genre' in movies):
  movies = split_genres_from_Movie(movies)

# MODEL-BASED ALGORITHMS

# -> kNN

In [23]:
# Merge the ratings and movies dataframes into one dataframe
movies_ratings_merged = pd.merge(ratings , movies , how='outer', on='movieId')

   userId  movieId  rating  ... Musical  War  (no genres listed)
0     1.0        1     4.0  ...       0    0                   0
1     5.0        1     4.0  ...       0    0                   0
2     7.0        1     4.5  ...       0    0                   0
3    15.0        1     2.5  ...       0    0                   0
4    17.0        1     4.5  ...       0    0                   0
5    18.0        1     3.5  ...       0    0                   0
6    19.0        1     4.0  ...       0    0                   0
7    21.0        1     3.5  ...       0    0                   0
8    27.0        1     3.0  ...       0    0                   0
9    31.0        1     5.0  ...       0    0                   0

[10 rows x 23 columns]